<h1 class="welcome-header">Welcome to your Favourites</h1>
<div *ngIf="results" class="gits">
  <div class="info-git" *ngFor="let result of results; let i = index">

    <div class="info">
      <img src={{result.owner.avatar_url}} alt="your image" height="50" width="50">
    </div>

    <div class="info">
      <p class="title">Project name:</p>
      <p class="description">{{ result.name }}</p>
    </div>

    <div class="info">
      <p class="title"> Language:</p>
      <p class="description">{{ result.language}} </p>
    </div>

    <div class="info">
      <p class="title"> Link:</p>
      <p class="description">{{ result.html_url}}</p>
    </div>

    <div class="info">
      <p class="title"> Rating:</p>
      <p class="description">{{result.stargazers_count}}</p>
    </div>
    <div class="info">
      <p class="title">Project Description:</p>
      <p class="description">{{result.description}}</p>
    </div>
  </div>
</div>